<!-- component -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
    />
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <!-- component -->
  <body
    class="bg-gray-100 min-h-screen bg-cover bg-center text-white"
    style="
      background-image: url('./image/rupee-symbol-digital-technology-background/sl_121021_47240_08.jpg');
      width: 100%;
      backdrop-filter: blur(7px);
    "
  >
    <h2
      class="text-3xl font-semibold mb-4 mx-auto inline flex justify-center"
      style="
        position: absolute;
        top: 16%;
        left: 50%;
        transform: translate(-50%);
      "
    >
      Finances Effectively
    </h2>
    <div
      class="p-8 rounded shadow-2xl border max-w-md w-full mx-auto h-lvh flex justify-center items-center"
    >
      <form action="/submit" method="POST">
        <!-- Nom et Prénom -->
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="firstName" class="block text-sm font-medium text-white"
              >Budget Name</label
            >
            <input
              type="text"
              name="firstName"
              class="mt-1 p-2 w-full border rounded-md text-gray-700"
              placeholder="Enter Budget Name"
              value="<%= user.firstName %>"
              required
            />
          </div>
          <div>
            <label for="lastName" class="block text-sm font-medium text-white"
              >Transactions Type</label
            >
            <select
              name="Select"
              id="cars"
              class="mt-1 p-2 w-full border rounded-md text-base font-medium text-gray-700"
              required
            >
              <option value="Select">Select</option>
              <option value="Income">
                Income <i class="fas fa-arrow-down text-orange-500 mr-4"></i>
              </option>
              <option value="Expense">Expense</option>
            </select>
          </div>
        </div>

        <!-- Adresse email -->
        <div class="mt-4 w-full flex justify-between">
          <div class="w-7/12">
            <label for="lastName" class="block text-sm font-medium text-white"
              >All Categories</label
            >
            <select
              name="SelectCat"
              id="cars"
              class="mt-1 p-2 w-full border rounded-md text-base font-medium text-gray-700"
              required
            >
              <option value="Select">Categories</option>
              <option value="Bills & Fees">Bills & Fees</option>
              <option value="Beauty">Beauty</option>
              <option value="Car">Car</option>
              <option value="Groceries">Groceries</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Home">Home</option>
              <option value="Shopping">Shopping</option>
              <option value="Travels">Travels</option>
              <option value="Education">Education</option>
              <option value="Entertainment">Entertainment</option>
              <option value="Family & Personal">Family & Personal</option>
              <option value="Food & Drink">Food & Drink</option>
              <option value="Gifts">Gifts</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="w-4/12">
            <label for="firstName" class="block text-sm font-medium text-white"
              >Amount : ₹
            </label>
            <input
              type="text"
              id="amount"
              name="amount"
              class="mt-1 p-2 w-full border rounded-md text-gray-700"
              placeholder="1234"
              value="<%= user.amount %>"
              required
            />
          </div>
        </div>

        <!-- Mot de passe -->
        <div class="mt-4">
          <label for="password" class="block text-sm font-medium text-white"
            >Description</label
          >
          <textarea
            name="Description"
            id=""
            rows="3"
            class="w-full mt-1 p-2 w-full border rounded-md text-gray-700"
            placeholder="Type..."
            value="<%= user.Description %>"
            required
          ></textarea>
        </div>

        <label for="date" class="block text-sm font-medium text-white"
          >Date</label
        >
        <input
          type="date"
          name="date"
          id="date"
          class="w-full mt-1 p-2 w-full border rounded-md text-gray-700"
          value="<%= user.date %>"
          required
        />

        <!-- Bouton d'inscription -->
        <div class="mt-6">
          <button
            type="submit"
            class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <!-- table -->
    <table class="bg-white mx-auto rounded-md">
      <thead
        class="text-xs text-white uppercase bg-white dark:text-gray-700 rounded-full"
      >
        <tr>
          <th scope="col" class="px-6 py-3 rounded-2xl">Budget Name</th>
          <th scope="col" class="px-6 py-3 rounded-xl">Transactions Type</th>
          <th scope="col" class="px-6 py-3">Categories</th>
          <th scope="col" class="px-6 py-3">Amount</th>
          <th scope="col" class="px-6 py-3">Description</th>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Edit</th>
          <th scope="col" class="px-6 py-3 rounded-2xl">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% user.forEach((USERDATA)=>{ %>

        <tr
          class="odd:bg-white text-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-black border-b dark:border-gray-700"
        >
          <td class="px-6 py-4 text-center"><%= USERDATA.Budget %></td>
          <td class="px-6 py-4 uppercase text-center">
            <%= USERDATA.Transactions %>
          </td>
          <td class="px-6 py-4 uppercase text-center">
            <%= USERDATA.category %>
          </td>
          <td class="px-6 py-4 uppercase text-center">
            <%= USERDATA.amount %>
          </td>
          <td class="px-6 py-4 uppercase text-center">
            <%= USERDATA.description %>
          </td>
          <td class="px-6 py-4 uppercase text-center"><%= USERDATA.date %></td>
          <td class="px-6 py-4 uppercase text-center">
            <a href="/editPage/<%= USERDATA._id %>">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
                />
              </svg>
            </a>
          </td>
          <td class="px-6 py-4 uppercase text-center">
            <a href="/deleteUser/<%= USERDATA.id %>">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
              </svg>
            </a>
          </td>
        </tr>

        <% })%>
      </tbody>
    </table>
  </body>
</html>
